window{
	background-color: azure;
}

/*page 1*/

#lbl_op{
	background-color: purple;
	border-radius: 15px;
	margin: 5px 5px 5px 5px;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: purple;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: purple; 
}

#lbl_an{
	background-color: purple;
	border-radius: 15px;
	margin: 5px 5px 5px 5px;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: purple;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: purple;
}

#grid_sw{
	background-color: azure;
	border-radius: 50px;
	margin: 20px 5px 5px 5px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: navy;
}

#grid_temp{
	background-color: azure;
	border-radius: 50px;
	margin: 20px 5px 5px 5px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: navy; 
}

#grid_btn{
	border-radius: 50px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: navy;
}

/*operation hours in*/
#hrs_op_in{
	color: #204A87;
	font-size: 170px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
	font-stretch: extra-expanded; 
}

#hrs_op_in > entry{
	background-color: azure;
	border-radius: 60px;
	border-color: azure;
	font-weight: bold;
}
	
#hrs_op_in > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/downl.png"); 
	color: transparent; 
}

#hrs_op_in > button.up{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/upl.png");
	color: transparent;
}

/*operation minute in*/
#mnt_op_in{
	color: #204A87;
	font-size: 170px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#mnt_op_in > entry{
	background-color: azure;
	border-radius: 60px;
	border-color: azure;
	font-weight: bold;
}
	
#mnt_op_in > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/downl.png"); 
	color: transparent; 
}

#mnt_op_in > button.up{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/upl.png");
	color: transparent;
}

/*operation second in*/
#sec_op_in{
	color: #204A87;
	font-size: 170px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#sec_op_in > entry{
	background-color: azure;
	border-radius: 60px;
	border-color: azure;
}
	
#sec_op_in > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/downl.png"); 
	color: transparent; 
}

#sec_op_in > button.up{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/upl.png");
	color: transparent;
}

/*anethesia minute in*/
#mnt_an_in{
	color: #204A87;
	font-size: 170px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#mnt_an_in > entry{
	background-color: azure;
	border-radius: 60px;
	border-color: azure;
}
	
#mnt_an_in > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/downl.png"); 
	color: transparent; 
}

#mnt_an_in > button.up{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/upl.png");
	color: transparent;
}

/*anethesia hour in*/
#hrs_an_in{
	color: #204A87;
	font-size: 170px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#hrs_an_in > entry{
	background-color: azure;
	border-radius: 60px;
	border-color: azure;
}
	
#hrs_an_in > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/downl.png"); 
	color: transparent; 
}

#hrs_an_in > button.up{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/upl.png");
	color: transparent;
}

/*anethesia second in*/
#sec_an_in{
	color: #204A87;
	font-size: 170px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#sec_an_in > entry{
	background-color: azure;
	border-radius: 60px;
	border-color: azure;
}
	
#sec_an_in > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/downl.png"); 
	color: transparent; 
}

#sec_an_in > button.up{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/upl.png");
	color: transparent;
}

switch{
	background-image: linear-gradient(darkgreen, lightgreen);
	/*background-color: teal;*/
	border-radius: 50px;
	margin: 10px 10px 10px 10px;
}

switch > slider{
	/*background-image: linear-gradient(darkgreen, lightgreen);*/
	background-color: teal;
	border-radius: 50px;
	
}

switch:checked{
	background-image: linear-gradient(red, orange);
}

/*change temperature*/
#spin_temp{
	color: #204A87;
	font-size: 80px;
	font-family: FreeSans;
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#spin_temp > entry{
	background-color: azure;
	border-color: azure; 
}

#spin_temp > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/down1.png");
	color: transparent;
}

#spin_temp > button.up{
	padding: 4px;
	border-color: azure; 
	background-color: azure;
	background-image: url("image/up1.png");
	color: transparent;
}


/*change humidity*/
#spin_hu{
	color: #204a87;
	font-size: 80px;
	font-family: FreeSans; 
	font-weight: bold;
	caret-color: transparent;
	text-shadow: 1px 1px black;
}

#spin_hu > entry{
	background-color: azure;
	border-color: azure;
}

#spin_hu > button.down{
	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/down1.png");
	color: transparent;
}

#spin_hu > button.up{
	padding: 4px;
	border-color: azure; 
	background-color: azure;
	background-image: url("image/up1.png");
	color: transparent;
}

button{
	background-color: transparent;
	border-color: transparent;
}

/*page 2*/
#page1{
	background-color: #FFFAF0;
}

#op_run_grid{
	background-color: #01A263;
	border-radius: 80px;
}
#an_run_grid{
	background-color: #01A263;
	border-radius: 80px
}
#run_op_hrs{
	font-weight: bold;
}

#run_op_mnt{
	color: white; 
	font-size: 200px;
}

#run_op_sec{
	font-size: 200px;
}

#run_an_hrs{
	font-size: 200px;
}

#run_an_mnt{
	font-size: 200px;
}

#run_an_sec{
	font-size: 200px;
}

#grid_dt{
	border-radius: 30px;
	border-style: solid;
	background-color: teal; 
}
