window{
	background-color: azure;
}

spinbutton{
	color: white;
	font-size: 150px;
	font-family: Serif;
	font-weight: bold;
	cursor: none;
}

spinbutton > entry{
	background-color: #FFCC66;
	border-radius: 200px;
	}
	
spinbutton > button.down{
	/*min-width: 0px;*/
	padding: 4px;
	border-bottom: 0px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/down.png"); 
}

spinbutton > button.up{

	padding: 4px;
	border-color: azure;
	background-color: azure;
	background-image: url("image/up.png");
}

button{
	
}
